/* MovieList.css */




@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Nunito", sans-serif;
  }
  